.container-constructors {
    display: flex;
    background: black;
    height: 100vh;
    flex-direction: column;
}

.MuiChartsAxisHighlight-root {
    stroke: white !important;
}

/* .MuiChartsAxis-bottom {
    transform: translateY(490px);
} */