.container-constructors {
    display: flex;
    background: linear-gradient(to bottom, #252525, black);
    height: 100vh;
    flex-direction: column;
}

.MuiChartsAxisHighlight-root {
    stroke: white !important;
}